.box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 200px;
    border: 1px solid lightgray;
    padding: 5px;
    align-items: center;
    justify-content: center;
}