.first3{
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    font-weight: bold;
    width: 98%;
    margin-left: 1%;

}
.z{
    width: 100%;
    text-align: center;
}
.y1{
    width: 100%;
    text-align: center;
    color: orange;
}